*{
    color: rgb(0, 0, 0);
}

body{
    margin: 0;
    background-image: url('/img/fotobody.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}header{
    background-image: url('/img/DALL·E\ 2024-10-24\ 20.07.45\ -\ A\ serene\ coastal\ town\ at\ sunset\,\ with\ the\ sun\ dipping\ below\ the\ horizon\,\ casting\ a\ golden-orange\ glow\ over\ the\ ocean\ and\ sky.\ The\ scene\ includes\ tall\ .webp');
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center ;
    position: fixed;
    top:0px;
    width: 100vw;
    
    
}header h1{
    text-align: center;
    
    
}header nav{
text-align: center;
}
header nav a{
    color:rgb(255, 0, 0);
    font-size: 20px;
    margin:0px 8px;
    font-weight: bolder;
}
.o1{
    width:100%;
}

.sobre ,.o2{
    width:50%;
    margin: 5px auto;
    background-color: rgba(255,255,255, 0.5);
    padding: 100px;
    text-align: center;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
    margin-top: 250px;
}.sobre h2{
    font-size: 35px;
}.sobre p{
    font-size: 30px;
    font-weight: bold;
}.o2 .hobbies {
    text-align: left;
    line-height: 32px;
    font-weight: bolder;
}.cards h3{
text-align: center;
}.contato{
width: 100%;
text-align: center;

}.o2{
    margin: 1px auto;
}
.ulcont {
    width:50%;
    margin: 5px auto;
    padding: 100px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}.ulcont img {
    width: 60px;
    margin: auto 10px;

}.ulcont h3{
    color: beige;
}footer{
    text-align: center;
    
    padding: 20px;
}footer p{
    display: inline;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 30px;

}footer img{
    display: inline;
    width: 30px;
}.fooer{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding:20px;
  
}span{
font-size: 30px;
color: rgb(0, 0, 0);
font-weight: bold;
}@media ( max-width:480px){
    .sobre h2, .sobre p,.hobbies li {
     font-size: 0.8rem;
   
}.hobbies h2{
    text-align: center;
    font-size: 10px;

}.fooer{
    width: 90%;
}.ulcont img{
    width: 20%;
}header nav a{
    font-size: 0.9rem;
   
}.sobre ,.o2{
   
}header h1{
    font-size: 19px;
}.fooer p{
    font-size: 15px;
}span{
    font-size: 15px;
}.fooer img{
    width: 19px;
}
pre{
    margin: 0;
}
}